.git
.github
docs
tools
*.tar.gz
dist
build
*.pyc
__pycache__
.pytest_cache
.venv
venv
config
.gitignore
.pylintrc
CHANGELOG.md
CONTRIBUTING.md
LICENSE
setup.cfg
test-requirements.txt
Dockerfile
docker-compose.yml
Makefile
.dockerignore